﻿@using Bnan.Core.Extensions
@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<style>
    body {
        font-family: 'Cairo';
    }

    .modal-body {
        text-align: right;
    }

    .ActiveTime_title {
        font-weight: 600;
    }

    .ActiveTime_P {
        font-size: 18px;
        color: #666666;
        line-height: 32px;
    }

    .base-timer {
        position: relative;
        width: 100px;
        height: 100px;
    }

    .base-timer__svg {
        transform: scaleX(-1);
    }

    .base-timer__circle {
        fill: none;
        stroke: none;
    }

    .base-timer__path-elapsed {
        stroke-width: 7px;
        stroke: #39629C3D;
    }

    .base-timer__path-remaining {
        stroke-width: 7px;
        stroke-linecap: round;
        transform: rotate(90deg);
        transform-origin: center;
        transition: 1s linear all;
        fill-rule: nonzero;
        stroke: currentColor;
    }

        .base-timer__path-remaining.blue {
            color: #39629C;
        }

        .base-timer__path-remaining.orange {
            color: orange;
        }

        .base-timer__path-remaining.red {
            color: red;
        }

    .base-timer__label {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }

    .continueBtn {
        --bs-btn-color: #fff;
        --bs-btn-bg: #FF9626;
        --bs-btn-border-color: #FF9626;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #FF9626;
        --bs-btn-hover-border-color: #FF9626;
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #FF9626;
        --bs-btn-active-border-color: #FF9626;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #f7c48e;
        --bs-btn-disabled-border-color: #f7c48e;
    }

    .ActiveTimeFooter {
        border-top: none;
    }

    .ActiveTimeContent {
        border: 3px solid #FF9626;
    }
</style>





<div class="modal fade" id="ActiveTime" tabindex="-1" aria-labelledby="ActiveTimeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ActiveTimeContent">

            <div class="modal-body">
                <div class="row align-items-center g-3 ">
                    <div class="col-md-auto d-flex align-items-center justify-content-center">
                        <div id="app"></div>
                    </div>
                    <div class="col text-center">
                        <h4 class="ActiveTime_title">@localizer["ModalAutoLogout"]</h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer ActiveTimeFooter ">
                <button type="button" class="btn btn-secondary" id="logoutBtn">@localizer["logout"]</button>
                <button type="button" class="btn continueBtn" id="continueBtn">@localizer["continue"] </button>
            </div>
        </div>
    </div>
</div>
