* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

/*Background color*/
body {
    font-family: cairo;
    font-weight: 400;
    height: 100vh;
    font-size: .875rem;
    letter-spacing: 0.28px;
    position: relative;
}

    body.no-scroll {
        overflow: hidden;
    }

.inputs,
.textarea-inputs,
.form-select-driver,
.form-control2,
.form-control1,
.form-select-last {
    border-radius: 8px;
    border: 2px solid #faa64d;
    /* height: 32px; */
    font-size: .875rem;
}
.textarea-inputs, .email-input {
    resize: none;
    text-align: start;
}
    .inputs:focus,
    .textarea-inputs:focus,
    .form-select-driver:focus,
    .form-control2:focus,
    .form-control1:focus,
    .form-select-last:focus {
        box-shadow: none !important;
        border: 2px solid #facd9c !important;
    }

.inputs {
    resize: none;
    width: 100%;
    padding: 0.375rem 0.75rem;
}

.textarea-inputs {
    resize: none;
    /* min-height: calc(3em + 0.75rem + calc(var(--bs-border-width)* 2)) !important; */
}

.form-select-driver {
    /* border-top: none; */
}

.form-select-last {
    /* border-top: none; */
    text-align: end;
    width: 100%;
}
/*Change Place of Mobile and code*/
.hidden-input-row .requird-field-row .requird-field {
    text-align: start;
}

.tel-input {
    border-radius: 0px 8px 8px 0px !important;
}

#phone2 {
    height: 37px;
}

.counterCode {
    border-radius: 8px 0px 0px 8px !important;
    border-right: none;
    background-color: white;
    color: var(--primary-color);
    direction: ltr;
    height: 35px;
}
/*---------------------------*/

.form-control1 {
    width: 100px;
    resize: none;
    text-align: center;
    padding: 1px;
}

.form-control2 {
    width: 92px;
    resize: none;
    text-align: center;
}

.requird-field-row-last {
    justify-content: flex-end;
    height: 15px;
}

.content-row {
    justify-content: center;
    /* align-items: center; */
}

.check-table-notes {
    border: none;
    height: 40px;
    resize: none;
    width: 100%;
    padding: 0 0.75rem;
}

/* 
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #ff9626;
    box-shadow: 0px 9px 20px 0rem #ff962610;
    border-top: none;
} */

nav {
    background-color: rgba(255, 206, 148, 1);
    padding: .5rem 1rem !important;
}

/*form styles*/
#msform {
    text-align: right;
    position: relative;
    /* margin-top: 10px; */
    height: 97%;
}

.form-card {
    background: rgb(255, 255, 255);
    border: 1px solid #39629c9c;
    border-radius: 7px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 18px 10px 18px;
    box-sizing: border-box;
    width: 94%;
    /* margin: 0 3% 20px 3%; */
    /*stacking fieldsets above each other*/
    position: relative;
    height: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
    height: 100%;
}

#progressbar {
    display: flex;
    flex-direction: row-reverse;
}

#msform fieldset {
    background: rgba(255, 255, 255, 0);
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    position: relative;
    height: 90%;
}



    /* Hide all except first fieldset */
    #msform fieldset:not(:first-of-type) {
        display: none;
    }

.form-card input :not(.form-check.input) {
    border: 1px solid #FF9626;
    border-top: transparent;
    border-radius: 9px;
}

.form-card {
    display: flex;
    flex-direction: column;
    color: black;
}

/* action Buttons*/
#msform .action-button {
    width: fit-content;
    background: transparent;
    font-weight: bold;
    color: #FF9626;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}



/*Previous Buttons*/
#msform .action-button-previous {
    width: fit-content;
    background: transparent;
    font-weight: bold;
    color: #FF9626;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}


/*Dropdown List Date*/
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

/* 
select.list-dt:focus {
    border-bottom: 2px solid rgb(253, 252, 193);
} */

/*The background card*/
.card {
    z-index: 0;
    border: none;
    border-radius: 0px;
    position: relative;
}

.card-title {
    color: #FF9626;
    text-shadow: 1px 4px 4px rgb(187 187 187 / 68%);
    font-size: 1.2rem;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

/*progressbar*/
#progressbar {
    margin-bottom: 20px;
    overflow: hidden;
    color: lightgrey;
    padding-left: 0;
    text-align: center;
}

    #progressbar .active {
        color: #000000;
        /* animation: animate .5s; */
    }

    /* @keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
} */
    #progressbar li {
        list-style-type: none;
        font-size: 12px;
        width: 14%;
        float: right;
        position: relative;
    }

    /*Icons in the ProgressBar*/
    #progressbar #tenant:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    #progressbar #car:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    #progressbar #driver:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    #progressbar #add-driver:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    #progressbar #options:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    #progressbar #check:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    #progressbar #payment:before {
        content: "";
        box-shadow: 2px 2px 2px #00000052;
    }

    /*ProgressBar before any progress*/
    #progressbar li:before {
        width: 30px;
        height: 30px;
        line-height: 45px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        background: #FFE4C6;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px;
    }

    /*ProgressBar connectors*/
    #progressbar li:after {
        content: '';
        width: 100%;
        height: 1px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 16px;
        z-index: -1;
    }

    #progressbar #tenant:after {
        width: 50%;
    }

    #progressbar #payment:after {
        width: 65%;
        left: 50%;
    }

    /*Color number of the step and the connector before it*/
    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #FF9626;
    }

.button-row {
    justify-content: space-between;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.button-card {
    width: fit-content;
}

.row-step1 {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.row-step3 {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.row-step4 {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.form-check label {
    margin-right: 30px;
}

/* .form-check input{
  
   
} */
.form-check-input[type=radio] {
    border-radius: 0%;
    width: 20px;
    height: 20px;
}

.otc {
    position: relative;
    margin: 0 auto;
}

    .otc fieldset {
        border: 0;
        padding: 0;
        margin: 0;
    }

.modal-content {
    border: 3px solid #FF9626;
    border-radius: 10px;
}

.otc legend {
    margin: 0 auto 1em;
    color: #000;
    font-size: .875rem;
}

.OTP {
    width: 0.8599999999999999em;
    margin: 0.1em;
    font-size: 2.0em;
    text-align: center;
    appearance: textfield;
    -webkit-appearance: textfield;
    border: 0;
    color: #FF9626;
    background-color: #F7F7F7;
    border-radius: 6px;
    border-bottom-color: #A1FF9C;
    border-bottom: 2px solid #A1FF9C;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 2 groups of 3 items */
input[type="number"]:nth-child(n+4) {
    order: 2;
}


.otc label {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.dropdown-content {
    /* display: none; */
    border: 1px solid #FF9626;
    border-radius: 8px;
    width: 245px;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: white;
    font-size: 0.75rem;
}

    .dropdown-content p {
        margin-bottom: .5rem;
    }

.dropdown-content-row {
    flex-direction: row-reverse;
    padding: 0px 10px 0px 10px;
}

/* ////////////////global over 3 fieldsets */
.requird-field {
    margin-bottom: 0px;
    font-size: 13px;
    color: red;
    display: block;
}

.requird-field-row {
    justify-content: flex-end;
    height: 30px;
}



.email-input{

}

.form-check-input {
    border-color: #39629C;
}

.personal-data {
    color: #39629C;
}

.payment-button {
    height: fit-content;
    font-weight: 700 !important;
    padding: 0px 6px !important;
}

.check-btn {
    color: #fff;
    background-color: #FF9626;
    border-color: #FF9626 !important;
    padding: 0px 12px;
    display: inline-block;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 8px;
}

    .check-btn:hover {
        background-color: white;
        color: #FF9626;
        border-color: #FF9626;
    }

.check {
    width: 100px;
}

/* options fieldset table style */
.table-bordered thead th {
    border-bottom-width: 1px;
    border-bottom: 1px solid #FF9626;
    text-align: center;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #FF9626;
}

.table {
    color: #000000f7;
}



/* /////////////global////////////// */
.container-fluid {
    height: 85%;
}

textarea {
    direction: rtl;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.section-mainCard {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#content-wrapper {
    height: 100%;
}

#content {
    height: 100%;
}


.cancle-icon {
    width: 15px;
    height: 15px;
    margin-left: 25px;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.radio-style {
    padding-right: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.col-7 {
    justify-content: flex-end;
    display: flex;
    padding-right: 20px;
}

.personal-data-dropdown {
    color: #39629C;
    display: flex;
    justify-content: flex-end;
}

.button-card {
    display: flex;
    justify-content: center;
}

/* STYLING BEFORE FOOTER WIDGET */
.before-footer-widget {
    height: 100px;
    background-image: linear-gradient(2.71deg, #FF9626 64.81%, rgba(255, 150, 38, 0.18) 153.13%);
    font-size: 0;
}

footer {
    position: fixed;
    bottom: 0%;
    z-index: -9999;
    background-color: #FF992E;
    width: 100%;
    height: 200px;
}

/* //////////////////////////////////////////////////////////// */
/* options fieldset table style */

.table {
    --bs-table-hover-bg: #bdbbbb1c;
    width: 100%;
}

.table-field-row {
    gap: 3rem
}

.table-bordered thead th {
    border-bottom-width: 1px;
    text-align: center;
    font-weight: 400;
}

/* .table-bordered{
   width:90%; 
} */
.table-bordered > :not(caption) > * > * {
    border-width: 0px 0px;
}

.tabel-data-checkbox-td {
    min-width: 30%
}

.table-bordered tr {
    border: 1px solid #ff9626a3;
}

.table-bordered td {
    border-left: 1px solid #ff9626a3;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #ff9626a3;
}

.table-bordered {
    color: #000000f7;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.value-td {
    text-align: center;
}

/* For webkit-based browsers (Chrome, Safari) */
.table-scroll {
    height: 56vh;
    min-height: 450px;
    overflow-y: auto;
}

    .table-scroll::-webkit-scrollbar {
        width: 10px;
    }

    .table-scroll::-webkit-scrollbar-track {
        fill: rgba(255, 150, 38, 0.16);
        border-radius: 5px;
    }

    .table-scroll::-webkit-scrollbar-thumb {
        background: rgba(255, 150, 38, 0.40);
        border-radius: 5px;
    }

.tabel-data-checkbox-td {
    padding: 5px
}

/* ///////////car///////////// */
.scrollable-content {
    overflow-y: scroll;
    scrollbar-gutter: stable both-edges;
    height: 55vh;
    min-height: 450px;
}

    .scrollable-content:hover,
    .scrollable-content:active,
    .scrollable-content:focus {
        overflow-y: scroll;
    }

    .scrollable-content::-webkit-scrollbar {
        width: 0.5em;
    }

    .scrollable-content::-webkit-scrollbar-track {
        background-color: hsl(250 15% 93%);
    }

    .scrollable-content::-webkit-scrollbar-thumb {
        background-color: rgba(255, 150, 38, 0.16);
    }

        .scrollable-content::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255, 150, 38, 0.493);
        }

::-webkit-scrollbar {
    width: 9px;
    height: 4px;
}
.car-catogeries {
    /* padding-right: 0px;
    padding-left: 30px; */
    height: 55vh;
    min-height: 450px;
    overflow-y: hidden;
}
.CarFuel {
    width: 25px !important;
}

.carImg {
    width: 100%;
}


.customized-button {
    --bs-btn-color: black;
    --bs-btn-border-color: #ff9626;
    --bs-btn-hover-color: #39629C;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: #ff9626;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #39629C;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: #ff9626;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #gray;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ff9626;
    --bs-gradient: none;
    width: 200px;
    font-size: 16px;
    border-radius: 10px;
}

.details-car-fieldset {
    padding-left: 0px;
    padding-right: 8px;
}

.icon-details-car-fieldset {
    padding-right: 20px;
    padding-left: 0px;
}




.spinner-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-modal-content {
    display: flex;
    width: 240px;
    height: 179px;
    justify-content: center;
    align-items: center;
}

.spinner {
    animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
    0% {
        stroke: #FF4D00;
    }

    25% {
        stroke: #FFA500;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #FF4D00;
        ;
    }

    100% {
        stroke: #FFA500;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

/* /////////////////////////first-field///////////////////////////////// */
.form-card1 {
    padding: 30px 22px 27px 34px;
}

/* /////////////////////////payment-field///////////////////////////////// */
.authorization {
    padding: 1.5625rem;
}

.authorization-modal-content {
    width: 300px;
    height: 240px;
}


.handsignature-modal-content {
    width: 300px;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


#removeSignatureImg, #removeIDImg {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 20px;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.upload-icon {
    width: 50px;
    height: 50px;
    transition: opacity 0.3s ease;
}

.preview-image {
    max-width: 100%;
    max-height: 100%;
}

.upload-container.previewing .upload-icon,
.upload-container.previewing p {
    opacity: 0;
}

/* /////////////////////////الفحص الظاهري///////////////////////////////// */
.upload__box {
    display: flex !important;
    justify-content: flex-end;
}

.upload__inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload__btn-box {
    order: 1;
}

/* .upload__img-wrap {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
     
 } */
.upload_img-wrap_inner {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.upload__img-box {
    width: 79px;
    height: 97px;
    background-color: rgba(217, 217, 217, 0.32);
    display: inline-block;
}

.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}




.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.upload-container-checking {
    position: relative;
    width: 79px;
    height: 97px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(217, 217, 217, 0.32);
}


.upload-icon {
    width: 50px;
    height: 50px;
    transition: opacity 0.3s ease;
}

.preview-image {
    max-width: 100%;
    max-height: 100%;
}

.upload-container.previewing .upload-icon,
.upload-container.previewing p {
    opacity: 1;
}

.CurrentReadingg_row {
    padding-bottom: .25rem;
}

.payment-col {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.title-container {
    text-align: center;
    color: #FF9626;
    position: relative;
}

.cancle-icon-dropdowen {
    left: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    top: 6px;
}

.space-row {
    height: 37px;
}

.data-container {
    font-size: 0.75rem;
    margin: 5px;
    border-radius: 8px;
}

#tenant-details {
    cursor: pointer;
}

#driver-details {
    cursor: pointer;
}

#add-driver-details {
    cursor: pointer;
}

/* /////////////////////media for the seacrh icon list on mobiles///////////////////////// */
@media (max-width:575px) {


    .payment-dropdown-content {
        left: 180px;
        transform: translateX(-90%);
    }

    #tenant-details {
        padding: 5px;
    }
}

/* ****************media****************** */


@media (max-width: 375px) {

    .extra-small-mobile {
        display: none;
    }
}

@media (max-width: 425px) {

    #progressbar li {
        font-size: 9px;
    }
}

@media (max-width: 646px) {

    .hide-on-mobile {
        display: none;
    }

    .on-mobile {
        flex-direction: column-reverse;
        padding-top: 16px;
    }

        .on-mobile p {
            margin-left: 0px;
        }
}

@media(min-height:990px) {

    footer {
        width: 100%;
        padding-bottom: 240px;
    }
}


/***************************************************cards-media**************************************************/
@media (max-height:550px) {
    .form-card {
        height: fit-content;
    }

    fieldset {
        height: fit-content;
    }

    #msform {
        height: fit-content;
    }
}

@media (max-width: 430px) {

    #msform {
        height: fit-content;
    }
}

@media (min-height: 700px) {

    .form-card3,
    .form-card4,
    .form-card7 {
        gap: 2px;
    }
}

@media (min-height: 740px) {
    .form-card1 {
        gap: 6px
    }

    .form-card3,
    .form-card4,
    .form-card7 {
        gap: 6px;
    }
}

@media (max-width: 740px) {
    .table-field-row {
        padding-left: 0px;
        padding-right: 0px;
        gap: 3rem;
    }
}

@media (min-height: 780px) {

    .form-card3,
    .form-card4,
    .form-card7 {
        gap: 10px;
    }



    /* .car-catogeries {
        height: 420px;
    } */

    /* .scrollable-content {
        height: 420px;
    } */
}

@media (min-height: 810px) {
    .form-card1 {
        gap: 12px
    }

    .form-card3,
    .form-card4,
    .form-card7 {
        gap: 12px;
    }



    /* .car-catogeries {
        height: 430px;
    } */

    /* .scrollable-content {
        height: 430px;
    } */
}

@media (min-height: 890px) {


    footer {
        /* padding-bottom: 300px; */
    }

    .form-card1 {
        padding: 40px 20px 17px 12px;
        gap: 20px
    }

    .form-card3,
    .form-card4,
    .form-card7 {
        gap: 15px
    }



    /* .car-catogeries {
        height: 450px;
    } */

    /* .scrollable-content {
        height: 450px;
    } */

    .content-row {
        padding-top: 15px;
    }

    .title-row {
        padding-top: 10px;
    }
}

@media (max-width: 991px) {
    .space-row {
        height: 0px;
    }
}

@media (min-height: 950px) {

    .form-card1 {
        gap: 30px
    }

    .form-card3,
    .form-card4,
    .form-card7 {
        gap: 20px
    }



    /* .car-catogeries {
        height: 500px;
    } */
    /* 
    .scrollable-content {
        height: 500px;
    } */

    .content-row {
        padding-top: 20px;
    }

    .title-row {
        padding-top: 10px;
    }
}


@media (min-width:1544px) {
    .upload__img-box {
        width: 98px;
        height: 98px;
    }

    .upload-container-checking {
        width: 98px;
        height: 98px;
    }

    .CurrentReadingg_row {
        padding-bottom: 2rem;
    }
}



/* ///////////////////// */
.options-col {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 5px;
}
    .options-col label {
        margin-right: 5px; /* لضبط المسافة بين الـ label والـ input */
        margin-bottom:0;
    }

@media (max-width: 425px) {

    .payment-col {
        flex-wrap: wrap;
    }
}

.systems-check {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-button-card {
    display: flex;
    justify-content: center;
}

.spinner-payment-check {
    background-color: white;
    padding: 0px 70px !important;
    border: 1px solid #FF9626;
}

@media (max-width: 745px) {
    .payment-button-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* ////////////////////////////////////////Rate///////////////////////////////////////////////// */
.rate-modal-content {
    border: 3px solid #FF9626;
    border-radius: 10px;
}

.rate-col {
    box-shadow: 0px 1px 6px 1px #FF962633;
    border-radius: 8px;
    cursor: pointer;
}

    .rate-col:hover {
        box-shadow: inset 0px 1px 6px 1px #ff962638;
        /* color: #39629C;
    font-weight: 600; */
    }

.rate-modal-header {
    border: none;
}

.rate-title {
    color: #FF9626;
}

.modal-header .rate-modal-close {
    margin: calc(-.5* var(--bs-modal-header-padding-y)) calc(-.5* var(--bs-modal-header-padding-x)) calc(-.5* var(--bs-modal-header-padding-y));
}

/* ////////////////////////////////////////Signature///////////////////////////////////////////////// */
.signature-modal-content, .IDphoto-modal-content {
    width: 300px;
}

.Signature-modal-body, .IDphoto-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignatureCard, .ID-Card {
    position: relative;
    width: 230px;
    height: 250px;
    border: 1px solid rgba(255, 150, 38, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 150, 38, 0.08);
    cursor: url(img/pen.jpg)
}

.sinature-Btn-Card, .Id-btn-card {
    cursor: pointer;
    box-shadow: 1px 0.5px 8px 0px #FF962633;
    border-radius: 8px;
}

.upload-container, .ID-upload-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Avaliable-car-icondata {
    width: 20px;
}

.extra-details {
    box-shadow: 0px 2px 4px 0px #39629C3D;
    border-radius: 8px;
    cursor: pointer;
}

/* /// */
.extra-details-row {
    position: relative;
}

.dropdown-content-row {
    flex-direction: row-reverse;
    padding: 0px 10px 0px 10px;
}

.dropdownTitles {
    font-weight: 600;
    text-align: right;
}

.titles {
    text-align: right;
}


/* ////////////////////////////////////// version 2 ///////////////////////////////////////////////// */

.AR-select {
    background-position: left .75rem center !important;
    text-align: end;
}

.check-btn-version2 {
    border-radius: 4px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-bottom: 6px !important;
}

.version2-hr {
    margin: .2 !important;
}

.version2-modal-header {
    border-bottom: var(--bs-modal-header-border-width) solid #ffffff;
    direction: rtl;
}

.modal-header .btn-close {
    margin: calc(-.5* 15) calc(-.5* 15) calc(-.5* 15) auto;
}

.version2-select {
    border-radius: 8px;
    border: 2px solid #FF9626;
    text-align: center;
    color: #39629C;
    width: 100%;
    direction: rtl;
    height: 32px;
    padding: 0;
    font-size: .875rem;
}

#phone {
    padding-left: 70px;
    position: relative;
}

#country-code {
    width: fit-content;
    color: #39629C;
    position: absolute;
    top: 2px;
    /* bottom: 4px; */
    left: 23px;
    border: none;
    z-index: 2;
    font-size: .875rem;
}

.version2-modal-rows {
    justify-content: center;
    flex-direction: row-reverse;
    font-weight: 500;
    align-items: baseline;
}

.hidden-input-row {
    height: 22vh;
    min-height: 200px;
    overflow-y: auto;
    justify-content: flex-end;
    scroll-behavior: smooth;
}

.inner-hidden-row-div {
    direction: rtl;
}

.hidden-input-row .requird-field-row {
    justify-content: flex-start;
}

.hidden-input-row .AR-select {
    text-align: start;
}

.hidden-input-row::-webkit-scrollbar {
    width: 10px;
}

.hidden-input-row::-webkit-scrollbar-track {
    fill: rgba(255, 150, 38, 0.16);
    border-radius: 5px;
}

.hidden-input-row::-webkit-scrollbar-thumb {
    background: rgba(255, 150, 38, 0.40);
    border-radius: 5px;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    color: white;
    pointer-events: none;
    background-color: #4A4A4A;
    border-color: #4A4A4A !important;
    opacity: var(--bs-btn-disabled-opacity);
}

.send-check {
    background-color: white !important;
    border: 1px solid FF9626 !important;
}

.inputs-style,
.select-style {
    border: 2px solid #faa64d;
    border-radius: 8px;
    font-size: .875rem;
}

    .inputs-style:focus,
    .select-style:focus,
    .version2-select:focus {
        box-shadow: none !important;
        border: 2px solid #facd9c !important;
    }


#country-code:focus {
    border: none !important;
}

.table-select-style {
    border: 1px solid #faa64d;
    border-radius: 8px;
    direction: rtl;
    font-size: .875rem;
}

    .table-select-style:focus {
        box-shadow: none !important;
        border: 2px solid #facd9c !important;
    }

.tenant-last-row-content {
    align-items: center;
}

.Checkup-table {
    direction: ltr;
}

    .Checkup-table th {
        border-left: 1px solid #ff9626a3;
    }

.undo-redo-btn {
    color: #fff;
    background-color: #FF9626;
    border: none;
    border-radius: 8px;
}

.autocomplete-items {
    border: 1px solid #FF9626;
    border-top: none;
    z-index: 99;
    position: absolute;
    background-color: #fff;
    width: 90%;
    height: 160px;
    overflow-y: scroll;
    box-shadow: 0px 9px 10px 0px #979796;
    display: none;
}

    .autocomplete-items::-webkit-scrollbar {
        width: 5px;
    }

    .autocomplete-items::-webkit-scrollbar-track {
        fill: rgba(255, 150, 38, 0.16);
        border-radius: 5px;
    }

    .autocomplete-items::-webkit-scrollbar-thumb {
        background: rgba(255, 150, 38, 0.40);
        border-radius: 5px;
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.car-catogeries-div {
    flex-direction: column;
    gap: 4px
}

.car-dropdown-content {
    border: 1px solid orange;
    /* background: #fdfbf6; */
    display: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px #39629C3D;
    width: 200px;
    margin-top: 13px;
    position: absolute;
    z-index: 9999;
    background-color: white;
    font-size: 0.75rem;
    padding: 2px;
}

    .car-dropdown-content p {
        margin-bottom: .4rem;
    }

.car-dropdown-content-row {
    flex-direction: row-reverse;
    padding: 0px 10px 0px 10px;
}

.dropdownTitles {
    font-weight: 600;
    text-align: right;
}

.titles {
    text-align: right;
}

.iconss {
    width: 100%;
}

.car-data-row {
    justify-content: flex-end;
}

.otc-row {
    margin-left: 3rem;
}


.contract-value {
    justify-content: end;
}

.SMS-Whats-Col {
    display: flex;
    flex-direction: column;
    direction: rtl;
    align-items: flex-start;
}

@media (min-width : 992px) {
    .licence-col {
        text-align: center;
    }
}

/****************** الفحص الفني ***************** */
.car-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shape-canvas {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
}

.TechnicalCheckUp-Btn {
    background-color: white;
    color: #FF992E;
    border: 2px solid #FF992E;
    border-radius: 8px;
}

    .TechnicalCheckUp-Btn:hover {
        background-color: #FF992E;
        color: white;
    }

.TechnicalCheckUp-Btn-active {
    background-color: #FF992E !important;
    color: white !important;
}
/* ************************take camera ID photo */
#videoElement {
    width: 100%;
    height: 100%;
}

#photo {
    width: 100%;
}
/* **************************************** */

@media (max-width:540px) {
    .car-rent-data {
        right: 5%;
    }

    .docs {
        transform: translateX(-40%);
    }
}

@media (max-width:767px) {
    .otc-row {
        margin-left: 0rem;
    }

    .dropdown-content {
        width: 245px;
        left: auto;
        right: 0%;
        transform: translateX(0%);
    }

    #payment-extra-details {
        margin-bottom: 15px;
    }

    .payment-dropdown-content {
        width: 205px;
    }
}

@media (max-width: 991px) {
    .tenant-last-row-content {
        flex-direction: column !important;
        align-items: start;
    }

    .car-catogeries-div {
        flex-direction: row;
        gap: 4px;
        flex-wrap: nowrap;
    }

    .car-catogeries {
        height: fit-content;
        min-height: fit-content;
    }

    .customized-button {
        width: 200px;
    }
}
@media (max-width: 1300px) {
    .car-catogeries-div {
        flex-direction: row;
        gap: 4px;
        flex-wrap: nowrap;
    }

    .car-catogeries {
        height: fit-content;
        min-height: fit-content;
    }
}
/* ************************************************************************************************************************************************************************************* */

#referenceDiv {
    height: 56vh;
    min-height: 450px;
    display: flex;
    flex-direction: column;
}

#tableContainer {
    overflow-y: auto;
    flex: 1;
    direction: ltr;
}

.tabel-data-checkbox-td {
    text-align: right;
    min-width: 30%;
}

input[type="date"] {
    padding: 5px 10px;
    position: relative;
    text-align: end;
}

    input[type="date"]::-webkit-calendar-picker-indicator {
        display: block;
        left: 10px;
        position: absolute;
    }
